/* Only display component if screen is less than 501px */
@media (max-width: 500px) {
  .projectsContainer {
    /* display: none; */
  }
}
/* If the component is visible then these are the styles... */
.projectsContainer {
  height: 100vh;
  padding: 2rem auto;
  background-color: #090a0c;
  display: flex;
}
/* "Projects." */
.projectsContainer h1 {
  height: 100%;
  text-align: center;
  padding: 0 1rem;
  color: #ffeed6;
  font-size: 48px;
  font-weight: 200;
  padding-top: 2rem;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
}
.projectsContainer span {
  color: #cc4343;
}
/* Gallery */
.gallery {
  height: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  overflow-y: scroll;
}
.gallery p {
  color: white;
}
.recipeace,
.jobsearchtracker,
.flashcards {
  /* background-color: rgb(61, 61, 61); */
  margin: 1rem;
  padding: 3rem;
  max-height: fit-content;
  max-width: 100%;
  position: relative;
}
/* Recipeace */
.recipeace::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/recipeace.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  transition: all 0.2s ease;
}
.recipeace:hover:before {
  opacity: 0.7;
}
/* Flash Cards */
.flashcards::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/flashcards.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  transition: all 0.2s ease;
}
.flashcards:hover:before {
  opacity: 0.7;
}
/* Job Search Tracker */
.jobsearchtracker::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/jobsearchtracker.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  transition: all 0.2s ease;
}
.jobsearchtracker:hover:before {
  opacity: 0.7;
}

/* Project card title */
.gallery h2 {
  font-weight: 400;
  color: #ffeed6;
  text-align: center;
  margin-bottom: 1rem;
}
