/* Main Container */
.mainContainer {
  height: 100vh;
}
/* Set the background image */
.imgContainer {
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
/* Text area */
.textArea {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Hero Title */
.textArea h1 {
  color: #ffeed6;
  font-size: 48px;
  font-weight: 400;
  margin-top: -15rem;
  cursor: default;
}
/* The period color for Hero title */
.textArea span {
  color: #cc4343;
}
/* List container styles */
.listContainer {
  width: 100%;
}
.listContainer > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: all 0.2s ease;
}
.listContainer > ul li {
  margin: 1rem 0;
  font-size: 24px;
  color: #634545;
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.listContainer > ul li:hover {
  color: #ffeed6;
  background-color: rgba(204, 67, 67, 0.5);
}

/* Only display the ul on Hero if screen is less than 501px */
@media (min-width: 501px) {
  .textArea h1 {
    margin-top: 0rem;
  }
  .listContainer {
    display: none;
  }
}
