.navBar {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  z-index: 1;
}
.navBar h1 a {
  text-decoration: none;
  font-size: 16px;
  color: #ffeed6;
  font-weight: 400;
  cursor: pointer;
}
.navBar span {
  color: #cc4343;
}
.navBar ul {
  max-width: 500px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  list-style-type: none;
}
.navBar ul li a {
  text-decoration: none;
  color: #634545;
  transition: all 0.3s ease;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}
.navBar ul li {
  background-color: transparent;
}
.navBar ul li a:hover {
  cursor: pointer;
  color: #ffeed6;
  background-color: rgba(204, 67, 67, 0.5);
}
@media (max-width: 500px) {
  .navBar {
    display: none;
  }
}
